# npm publish token with publish permission
NPM_TOKEN=

# npm organization scope without @
NPM_ORG=neobards

# npm registry endpoint
NPM_REGISTRY=http://192.168.22.27:4873

# set true to stop before npm publish
DRY_RUN=false
